<a href="https://colab.research.google.com/github/xcsengody/DP/blob/master/xcsengody.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd

In [0]:
pd.options.display.max_rows = 700002

In [0]:
path = "/content/drive/My Drive/DP/Dataset/NUSW-NB15_features.csv";
df = pd.read_csv(path, delimiter=',',encoding='unicode_escape',skipinitialspace=True);

In [0]:
features = df.Name

In [17]:
path = "/content/drive/My Drive/DP/Dataset/UNSW-NB15_1.csv";
dataset = pd.read_csv(path, delimiter=',',names=features,header=None,encoding='utf-8',low_memory=False,skipinitialspace=True,skip_blank_lines=True,verbose=True);

Tokenization took: 1741.68 ms
Type conversion took: 3831.09 ms
Parser memory cleanup took: 10.57 ms

In [18]:
dataset.head()

        srcip  sport          dstip  ... ct_dst_src_ltm attack_cat Label
0  59.166.0.0   1390  149.171.126.6  ...              1        NaN     0
1  59.166.0.0  33661  149.171.126.9  ...              2        NaN     0
2  59.166.0.6   1464  149.171.126.7  ...              1        NaN     0
3  59.166.0.5   3593  149.171.126.5  ...              1        NaN     0
4  59.166.0.3  49664  149.171.126.0  ...              1        NaN     0

[5 rows x 49 columns]

In [9]:
dataset.describe()

                 dur        sbytes  ...  ct_dst_src_ltm          Label
count  700001.000000  7.000010e+05  ...   700001.000000  700001.000000
mean        0.863391  5.009637e+03  ...        2.188105       0.031736
std        25.935765  4.489868e+04  ...        2.211199       0.175296
min         0.000000  0.000000e+00  ...        1.000000       0.000000
25%         0.003931  4.240000e+02  ...        1.000000       0.000000
50%         0.027594  2.024000e+03  ...        1.000000       0.000000
75%         0.346518  3.806000e+03  ...        3.000000       0.000000
max      8786.637695  1.367739e+07  ...       38.000000       1.000000

[8 rows x 41 columns]

In [10]:
dataset.columns[dataset.isna().any()].tolist()

['attack_cat']

In [25]:
dataset['attack_cat'].head(50)

0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
5                NaN
6                NaN
7                NaN
8                NaN
9                NaN
10               NaN
11               NaN
12               NaN
13               NaN
14               NaN
15               NaN
16               NaN
17               NaN
18               NaN
19               NaN
20          Exploits
21          Exploits
22    Reconnaissance
23               NaN
24               NaN
25               NaN
26               NaN
27               NaN
28               NaN
29               NaN
30               NaN
31               NaN
32               NaN
33               NaN
34               NaN
35               NaN
36               NaN
37               NaN
38               NaN
39          Exploits
40          Exploits
41               NaN
42               NaN
43               NaN
44               NaN
45               NaN
46               NaN
47               NaN
48               NaN
49               NaN
Name: attack_cat, dtype: object