<a href="https://colab.research.google.com/github/xcsengody/DP/blob/master/xcsengody.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd

In [0]:
path = "/content/drive/My Drive/DP/Dataset/NUSW-NB15_features.csv";
df = pd.read_csv(path, delimiter=',',encoding='unicode_escape');

In [12]:
features = df.Name

<class 'pandas.core.series.Series'>

In [0]:
path = "/content/drive/My Drive/DP/Dataset/UNSW-NB15_1.csv";
dataset = pd.read_csv(path, delimiter=',',names=features,encoding='utf-8',low_memory=False);

In [17]:
dataset.describe()

                 dur        sbytes  ...  ct_dst_src_ltm          Label
count  700001.000000  7.000010e+05  ...   700001.000000  700001.000000
mean        0.863391  5.009637e+03  ...        2.188105       0.031736
std        25.935765  4.489868e+04  ...        2.211199       0.175296
min         0.000000  0.000000e+00  ...        1.000000       0.000000
25%         0.003931  4.240000e+02  ...        1.000000       0.000000
50%         0.027594  2.024000e+03  ...        1.000000       0.000000
75%         0.346518  3.806000e+03  ...        3.000000       0.000000
max      8786.637695  1.367739e+07  ...       38.000000       1.000000

[8 rows x 41 columns]